<!-- Browserdan - 'localhost:3000/resto/signup'ga kirsak - shu 'signup.ejs'ning kodlar chiqadi -->

<!-- <head> qismini chaqirib olamiz -->
  <%- include("includes/header") %>
  <!-- 
      include - bu templating engine(ejs) ichidagi bir operatori.
      U - ma'lumotlar yoki kodni bir fayldan boshqa bir faylga qo'shish uchun ishlatiladi. 
  -->
  
      <body>
          <h1>Signup page</h1>
      </body>
  
  <!-- footer qismini chaqirib olamiz -->
  <%- include('includes/footer') %>